<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/img/icon.ico" type="image/x-icon" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
  />

    <!-- Cargar estilos -->
    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/carta.css" />
    <link rel="stylesheet" href="../styles/header.css" />

    <title>La Carta</title>
    <!-- Cargar Scripts -->
    <script src="../js/jquey-local.js"></script>
    <script src="../js/cargar-componentes.js"></script>
  </head>

  <body>
    <header></header>
    <section class="wrap">
      <h2>Comidas para llevar</h2>
      <div class="column-3 columns">
        <!-- Menús -->
      </div>
    </section>
    <section class="wrap">
      <h2>LA CARTA DE CUCCINARE</h2>
      <div class="rows 4">
        <div
          class="menu-restaurante"
          style="background-color: rgb(202, 175, 156); text-align-last: center"
        >
          <h3>EMPANADAS</h3>
          <hr />
          <h4>Las mejores</h4>
          <p>Carne dulce---------------------------------------------$ 180</p>
          <p>Pollo y palta-------------------------------------------$ 210</p>
          <p>Jamón y queso-------------------------------------------$ 170</p>
          <br />

          <p class="precio-menu">
            <span>Combo familiar: 3 docenas 10% descuento</span>
          </p>
        </div>
        <div
          class="menu-restaurante"
          style="background-color: lightgoldenrodyellow; text-align: center"
        >
          <h3>HAMBURGUESAS</h3>
          <hr />
          <h4>Las más ricas</h4>
          <p>XL con huevo frito y pickles caseros -----------------$ 1900</p>
          <p>L con lechuga, tomate, jamón, queso, huevo frito------$ 1700</p>
          <p>M con lechuga, tomate, jamón y queso------------------$ 1500</p>
          <p>S con lechuga y/o tomate-------------------------------$1300</p>
          <br />
          <h4>KIDBURGER + SORPRESITA</h4>
          <p>S con lechuga y/o tomate------------------------------$ 1000</p>
          <p>XS hamburguesa sola-----------------------------------$ 900</p>
          <br />
          <p class="precio-menu">
            <span>Salen con fitas</span>
          </p>
        </div>
        <div
          class="menu-restaurante"
          style="background-color: burlywood; text-align: center"
        >
          <h3>PIZZAS</h3>
          <hr />
          <h4>Las más redondas</h4>
          <p>Especial de jamón y queso------------------------------$ 1500</p>
          <p>Fugazza------------------------------------------------$ 1600</p>
          <p>Palmitos y salsa golf----------------------------------$ 1800</p>
          <br />
          <h4>ESPECIALIDAD DE LA CASA</h4>
          <p>Berenjenas asadas a los 4 quesos-----------------------$ 2100</p>
          <p>Humita-------------------------------------------------$ 2200</p>
        
          <br />
          <p class="precio-menu">
            <span>Podés pedir 1/2 y 1/2</span>
          </p>
        </div>
        <div
          class="menu-restaurante"
          style="background-color: lemonchiffon; text-align: center"
        >
          <h3>LOMITOS</h3>
          <hr />
          <h4>Mejor que los de tu mamá</h4>
          <p>Simple con lechuga, tomate, queso y jamón---------------$ 2000</p>
          <p>Completo Simple más huevo frito y pickles---------------$ 2300</p>
          <br />

          <p class="precio-menu">
            <span>Aderezos a elección</span>
          </p>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
