<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styless.css" />
    <link rel="shortcut icon" href="../assets/img/icon.ico" type="image/x-icon" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"/>
  
    <!-- Cargar estilos -->
    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/contacto.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <!-- Cargar Scripts -->
    <script src="../js/jquey-local.js"></script>
    <script src="../js/cargar-componentes.js"></script>
    <title>CUCINARE Formulario</title>
  </head>

  <body>
    <header></header>
    <section class="seccion">
      <div class="contenedor">
        <div class="form">
        <h1>COMUNICATE</h1>
        <!-- Los inputs van dentro del formulario -->
        <form action="Fromulario"> 
          <p></p>
          <input type="text" class="dato" placeholder="Ingresá tu nombre" />
  
          <p></p>
          <input type="text" class="dato" placeholder="Ingresá tu correo" />
  
          <p></p>
          <input type="text" class="dato" placeholder="¿Motivo del mensaje?" />
  
          <p></p>
          <textarea name="dato" cols="41" rows="8" placeholder="Dejanos tu mensaje"></textarea></form>
       

        <!--boton-->
        <div class="center-content">
          <div class="btn-btn-yellow"></div>
          <input type="submit" class="btn-btn-yellow" value="Enviar" />
        
        </div>
      </div>
      </div>
    </section>
    
    <footer></footer>
  </body>
</html>
