<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Quienes somos</title>

    <link
      rel="shortcut icon"
      href="../assets/img/icon.ico"
      type="image/x-icon"
    />
    <!-- Cargar estilos -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/quienessomos.css" />
    <link rel="stylesheet" href="../styles/header.css" />

    <!-- Cargar JQuery y Scripts de inicio -->

    <script src="../js/jquey-local.js"></script>
    <script src="../js/cargar-componentes.js"></script>
  </head>

  <!-- Modificado el header y footer van dentro del body -->
  <body>
    <header></header>
    <section class="seccion">
      <!-- Modificado: al no poder poner de fondo al body para que no quede bajo el header y el footer tuve que agregar un fondo a la seccion y agregar un contenedor abajo -->
      <div class="contenedor">
         <h4>desde Formosa</h4>
         <h1>CUCCINARE</h1>
         <h2><i> EL AMOR A LA COCINA NOS INSPIRA</i></h2> 
    
        <div class="conocer">
          <p>Somos una empresa familiar</p>
          <p>que se destaca en el rubro gastrónomico</p>
          <p>por la elaboración de comida rápida,</p>
          <p>dándole un toque Gourmet.</p>
          <p>Tiene como prioridad la calidad y el control</p>
          <p>permanente de sus productos.</p>
          <p>Nuestras comidas son elaboradas</p>
          <p>en el momento del pedido lo que garantiza calidad</p>
          <p>y sabores inigualables.</p>
          <br />
         
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
