<div class="container my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <div id="h6"></div>
      <h6 class="text-uppercase mb-4 font-weight-bold">QUIENES SOMOS</h6>
      <p>
        En Cucinare somos una empresa familiar que se destaca en el rubro
        gastrónomico por la elaboracion de comida rápida dandole un toque
        Gourmet.
      </p>
    </div>
    <hr class="w-100 clearfix d-md-none" />
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 class="text-uppercase mb-4 font-weight-bold">CONTACTO</h6>
      <p><i class="fas fa-home mr-3"></i> Formosa, Argentina</p>
      <p><i class="fas fa-envelope mr-3"></i> cucinare@gmail.com</p>
      <p><i class="fas fa-phone mr-3"></i> + 54 9 3704 69-1443</p>
      <p><i class="fas fa-print mr-3"></i> + 54 9 3704 69-1443</p>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <!-- Problema con los iconos cambiado a bootstrap icons (cambiar formato es feo) -->
      <h6 class="text-uppercase mb-4 font-weight-bold">Seguinos</h6>
      <a href="https://www.facebook.com/cucinarefood">
        <div class="Facebook">
          <i class="bi bi-facebook"></i>
        </div>
      </a>

      <a href="https://www.instagram.com/cucinarefood/">
        <div class="Instagram">
          <i class="bi bi-instagram"></i>
        </div>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=%2B543704572811&data=AWBg2xJNZwxFIbJkqFW42rdu4fsU0FUzog0EuwSa_DHEPQs7wGFTmEmLZXboaRF2ij35dqlcnX68YOXUJgTQIeVe7aJXT9oLlg988AlmkG8SteE0I4FT3NIT3SEr0JDH-fTLXvLkAzHo_Mjj91ZpDQNyY554mXlcMYhL2d7LasfoGX8-yqdlXWaLMDHX2xV6S2bQ9mirAy7ZgQ4ZchrpGvuxWKYFxOcblOJIyoMsUGfV9Q2jCFk76RzjMtQrDacaGBO7uV2fxC9F2XizsUF0h6k9ObLkcu5ZQuq8UoNrNFPRxFo3Zn8&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR1yLM0CY7x_APZeQeDusuUhZD-RzRMe3KySRQgrkyhi3loU2ULYc6AKC5o"
      >
        <div class="Whatsapp">
          <i class="bi bi-whatsapp"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="underfoot" class="text-center p-3 bg-dark text-light">
  © 2023 Copyright:
  <a class="text-light" href="Grupo A.P.04 2023">Grupo A.P.04 2023</a>
</div>
