<div id="header">
  <div class="logo"></div>
  <!-- Modificado para que al hacer click en la imagen vuelva al inicio -->
  <a href="/">
    <img
      src="../assets/img/logo.png"
      alt="logo"
      height="90"
      style="margin: 10px"
    />
  </a>
  <nav>
    <a href="../views/quienessomos.html">Quienes somos</a>
    <a href="../views/carta.html">La Carta</a>
    <a href="../views/pedido.html">Pedilo</a>
    <a href="../views/contacto.html">Contacto</a>
  </nav>
</div>
